.map-container {
  display: grid;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .map-container {
    display: grid;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
  }
}
.leaflet-container {
  height: 600px;
  width: 100%;
  background-color: #1a2430;
}
.leaflet-bottom {
  visibility: hidden;
}