html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #0d1219;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leaflet-container {
  height: 600px;
  width: 100%;
  background-color: #1a2430;
}
.leaflet-bottom {
  visibility: hidden;
}

.container {
  color: white;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.earthquake-status-title {
  margin: 0;
  padding: 20px;
}
.MuiDrawer-paperAnchorLeft {
  background-color: #1a2430 !important;
  color: white !important;
}
.MuiTypography-colorTextSecondary {
  color: rgba(175, 175, 175, .5) !important;
}
.map-container {
  margin-left: 60px;
  margin-right: 60px;
}
@media only screen and (max-width: 768px) {
  .map-container {
    margin-left: 5px;
    margin-right: 5px;
  }
}